<%- include('parts/headd') %>
<title>R覺dvanDev - Yak覺nda...</title>
<div class="soon">
  <h1>
    Yak覺nda Eklenecek.
  </h1>
  <p>
    <a href="/"><span class="b">Buraya</span> T覺kla ve anasayfaya git.</a>
  </p>
  </div>
  
  </body>
<style>
  body{
  background: #000;
    padding: 0;
  margin: 0;
}
  .soon{
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 350px;
  margin-bottom: -190px;
  color: #fff;
  font-family: monospace;
  border: 1px solid #000;
}
  h1{
    font-size: 40px;
  }
  .soon a{
    color: #fff;
  }
  .b{
    color: #C5A6FF;
  }
  @media only screen and (max-width: 750px){
    h1{
    font-size: 30px;
  }
  }
</style>
</html>
