<%- include('parts/head') %>
  <meta http-equiv="refresh" content="8; url=/anasayfa">
<title>RıdvanDev - Loading...</title>

<div class="screen" id="loader">
  <span class="text1">RıdvanDev</span>
  <span class="text2" >Loading...</span>
</div>
  </body>
</html>
