<%- include('parts/head') %>
<title>RıdvanDev - Projelerim</title>
  <%- include('parts/navbar') %>

    <div class="project">
      <a href="https://github.com/ZuziaDev/Zuzia-Site"><div class="box">
        <h1>
          Zuzia Site 1.0.0
        </h1>
        <p>
          Bu site eski discord botumun eski sitesidir.
        </p>
        </div></a>
      <a href="https://github.com/ZuziaDev/css-yazi-animasyonu"><div class="box">
        <h1>
          Css Yazılı Animasyon
        </h1>
        <p>
          Bu sitenin loading animasyonun aynısıdır.
        </p>
        </div></a>
            <a href="https://github.com/ZuziaDev/Zuzia-Site"><div class="box">
        <h1>
          Zuzia API 1.0.0
        </h1>
        <p>
          İçinde Reflush API olan basit bir API'dir.
        </p>
        </div></a>
            <a href="https://github.com/ZuziaDev/css-onay-kutusu-animasyonu"><div class="box">
        <h1>
          Css Onay Kutusu
        </h1>
        <p>
          Animasyonlu hoş duran bir onay kutusur.
        </p>
        </div></a>
            <a href="https://github.com/ZuziaDev/css-animasyonlu-kart"><div class="box">
        <h1>
          Animasyonlu Kart
        </h1>
        <p>
          Animasyonlu şekilde gözüken kişi kartları.
        </p>
        </div></a>
      <br><br>
    </div>
    
    
    
    <br><br>
    
<%- include('parts/social') %>
<%- include('parts/footer') %>
