<footer class="alt-menu">

      <div class="alt-kutu">
<br><div class="link">
        
        </div>
          <p><a href="/#" class="a">Anasayfa</a> - <a href="/hakkimda" class="a">Hakkında</a> - <a href="/projelerim" class="a">Projelerim</a> - <a href="/iletisim" class="a">İletişim</a></p><br>

          <p><span class="c">©</span> Telif Hakkı RıdvanDev. Tüm Haklar Saklıdır <span class="zuzi"><b>2022-</b><b id="yil"></span></p><br>
            <p onclick="yukari()">
              <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/xsdtfyne.json"
    trigger="hover"
    colors="primary:#ffffff"
    state="hover-2"
    style="width:50px;height:50px">
</lord-icon>
        </p>
        
      </div>
  </footer>
     <style>
   .alt-menu{
  bottom: 0;
  text-align: center;
  margin-top:6px;
  height: auto;
  width: 100%;
  background: #22222277;
  color: #fff;
  }
  .alt-kutu .a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    transition: 0.5s;
  }
       .alt-kutu .a:hover {
  background: #ffffff11;
  color: #b678ff;
}
  .alt-kutu p{
  font-size: 15px;
  margin-top: auto;
  font-weight: 300;
  font-family: monospace;
  } 
  .zuzi{
  color: #b5b5b5;
  font-family: monospace;
  }
  
     
     </style>
<script>document.getElementById("yil").innerHTML = new Date().getFullYear();

function yukari(){
window.scrollTo(0,0)
}
</script>
</body>
</html>